<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">
          <%= @profile.name %>
        </p>
        <p class="subtitle is-6">
          <%= @profile.handle %>
        </p>
      </div>
    </div>
    <div class="content">
      <p>
        <%= @profile.bio %>
      </p>
      <p>
        Location: <%= @profile.location %>
      </p>
    </div>
    <footer class="card-footer">
      <%= link_to 'Edit', edit_profile_path(@profile), class:"card-footer-item" %>
    </footer>
  </div>
</div>
