<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(tweet.errors.count, 'error') %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="control">
      <%= form.rich_text_area :content, class:'input' %>
      <%= form.hidden_field :type, class:'tweet' %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit 'Save', class:'button is-info' %>
    </div>
    <div class="control">
      <%= link_to 'Back', home_path, class:'button is-info is-outlined' %>
    </div>
  </div>
<% end %>
